.book__banner {
  background-color: var(--text-color);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 60px 15px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
    
    h3 {
      color: white;
    }
  
    span {
      color: var(--brand-color);
      font-size: 28px;
      font-weight: 900;
      padding-left: 40px;
      background: url(../../public/svg/call-outgoing.svg) no-repeat left;
      background-size: 11%;
      filter: brightness(150%);
    }
  }

}