@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');



:root {
  --brand-color: #00b4c3;
  --text-color: #041617;
  --shadow-color-100: #f8f8f8;
  --shadow-color-200: #d7dada;
  --shadow-color-300: #c0c7c7;
  --shadow-color-400: #747a7b;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--text-color);
  border: none;
  outline: none;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--brand-color);
}



main, section, nav, footer {
  display: grid;
  place-items: center;
}



.container {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 1310px;
  padding: 120px 15px;
}



a {
  font-size: 16px;
  font-weight: 700;
  transition-duration: 0.2s;
}

a:hover {
  color: var(--brand-color);
}



h1, h2, h3, h4, h5 {
  font-weight: 900;
}

h1 {
  font-size: 52px;
  line-height: 1.2;
}

h2 {
  font-size: 42px;
  line-height: 1.2;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  line-height: 1.5;
}



button {
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 10px 15px 0 var(--shadow-color-200);
  color: white;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 10px 15px 0 var(--shadow-color-300);
}

button:active {
  box-shadow: none;
}



.second-button {
  background-color: var(--text-color);
  border: 3px solid var(--text-color);
}

.second-button:hover {
  background-color: var(--shadow-color-100);
  color: var(--text-color);
  border: 3px solid var(--text-color);
}



label {
  font-size: 17px;
  font-weight: 800;
}



select, input {
  height: 50px;
  border: 1px solid var(--shadow-color-200);
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  color: var(--shadow-color-400);
}





@media (max-width: 1024px) {
  .container {
    max-width: 500px;
  }

  h1, h2, h3, h4, h5, p {
    text-align: center;
  }

  button {
    width: 250px;
  }

  select, input {
    width: 100%;
  }
}